body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #3353A5;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-height: 100px;
    margin-bottom: 10px;
}

.document-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-top: 30px;
}

#content {
    font-size: 18px;
    line-height: 1.6;
    max-width: 100%;
    text-align: center;
}

#content p {
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    background-color: #3353A5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

button:hover {
    background-color: #283E8B;
}

/* Transition styles */
.page-transition {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.page-transition.fade-out {
    opacity: 0;
}

/* Loading spinner styles */
.loading-spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 125px;
    height: 125px;
    background-image: url('/spinner.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Button spinner styles */
.button-container button {
    position: relative;
}

.button-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50.5px;
    height: 50.5px;
    background-image: url('/spinner.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Full-screen button styles */
#fullScreenBtn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3353A5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#fullScreenBtn:hover {
    background-color: #283E8B;
}

/* Full-screen styles */
.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.full-screen .document-container {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    overflow: auto;
    margin: auto;
}

.full-screen #content {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 20px;
}

@media (max-width: 768px) {
    .document-container {
        margin-top: 20px;
        border-radius: 0;
    }

    .loading-spinner {
        width: 100px;
        height: 100px;
    }

    .button-spinner {
        width: 30px;
        height: 30px;
    }
}